@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primaryBlue: #106EBE; 
  --color-lightBlue: #dfe8f0; 
  --color-primaryWhite: #fff;
  --color-white: #f5f5f5;
  --color-primaryBlack: #000000;
  --color-primaryYellow: #FF9F23;
  --color-primaryGrey: #333333;
  --color-primaryRed: #ff0808;
  --color-deepWhite: #106EBE;
  --color-lightWhite: #49454f;
  --color-creamWhite: #f5f5f5;
  --color-borderColor: #e8e8e8;

  @keyframes slideInRight {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }

  --animate-slideInRight: slideInRight 0.5s ease-out;
}

:root {
}

@theme inline {
  --font-sans: 'Open Sans', sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Utility classes for specific fonts */
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

/* for circle checkboxes */
.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 50%; /* Makes the checkbox circular */
  appearance: none; /* Removes default styling */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  cursor: pointer;
  position: relative;
  background-color: white; /* Ensure background is visible */
}

.custom-checkbox:checked {
  background-color: #00296B;
  border-color: #00296B;
}

.custom-checkbox:checked::after {
  content: "✔";
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}